<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="groups/all"></ion-back-button>
        </ion-buttons>
        <ion-title>Ziehung konfigurieren</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div *ngIf="!group">
        <h2>
            <ion-text color="danger">Die ausgewählte Gruppe existiert nicht! :(
            </ion-text>
        </h2>
        <ion-button routerLink="/groups/all">Zurück zur Übersicht</ion-button>
    </div>
    <div *ngIf="group">
        <ion-card>
            <ion-card-header>
                <ion-card-title>Einstellungen</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-list lines="none">
                    <ion-item>
                        <ion-text class="setting-title">Modus</ion-text>
                        <ion-segment [value]="segmentSelection" (ionChange)="segmentChanged($event)">
                            <ion-segment-button value="teams">
                                <ion-label>Anzahl Teams</ion-label>
                            </ion-segment-button>
                            <ion-segment-button value="players">
                                <ion-label>Anzahl Mitglieder</ion-label>
                            </ion-segment-button>
                        </ion-segment>
                    </ion-item>
                    <ion-item>
                        <ion-label class="setting-title">Anzahl</ion-label>
                        <ion-range
                                (ionChange)="rangeChanged($event)"
                                color="danger"
                                pin="true"
                                [value]="selectedSize"
                                min="1"
                                [max]="maxSize">
                            <ion-label slot="start">1</ion-label>
                            <ion-label slot="end">{{maxSize}}</ion-label>
                        </ion-range>
                    </ion-item>
                    <ion-item>
                        <ion-label class="setting-title" slot="start">Vorschau</ion-label>
                        <ion-text slot="start">{{fakeDrawResultTeams}} Teams mit {{fakeDrawResultMembers.join("-")}} Mitgliedern
                        </ion-text>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-title>Mitglieder ({{group.members.length - disabledMembers.length}}
                    verfügbar, {{disabledMembers.length}} abwesend)
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <app-member
                            [name]="member.name"
                            *ngFor="let member of group.members"
                            [disabled]="isDisabled(member)">
                        <ion-toggle [checked]="!isDisabled(member)"
                                    (ionChange)="toggleDisable(member)"></ion-toggle>
                    </app-member>
                </ion-list>
            </ion-card-content>
        </ion-card>
        <ion-button
                type="button"
                color="primary"
                expand="block"
                (click)="drawTeams()">
            <ion-icon name="shuffle" slot="start"></ion-icon>
            Und los!
        </ion-button>
    </div>
</ion-content>
