<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="groups/all"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'configureDraw.header' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <app-no-group [group]="group"></app-no-group>
    <div *ngIf="group">
        <ion-item lines="none">
            <ion-icon [name]="group.icon" slot="start"></ion-icon>
            <ion-label>
                <h1>{{group.name}}</h1>
            </ion-label>
        </ion-item>
        <ion-list lines="none">
            <ion-item>
                <ion-text class="setting-title">{{'configureDraw.mode' | translate}}</ion-text>
                <ion-segment [value]="segmentSelection" (ionChange)="segmentChanged($event)">
                    <ion-segment-button value="teams">
                        <ion-label>{{'configureDraw.modeTeams' | translate}}</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="players">
                        <ion-label>{{'configureDraw.modeMembers' | translate}}</ion-label>
                    </ion-segment-button>
                </ion-segment>
            </ion-item>
            <ion-item>
                <ion-label class="setting-title">{{'configureDraw.count' | translate}}</ion-label>
                <ion-range
                        (ionChange)="rangeChanged($event)"
                        color="danger"
                        pin="true"
                        [value]="selectedSize"
                        min="1"
                        [max]="maxSize">
                    <ion-label slot="start">1</ion-label>
                    <ion-label slot="end">{{maxSize}}</ion-label>
                </ion-range>
            </ion-item>
            <ion-item-divider color="none">
                <ion-label>
                    <h2>{{'configureDraw.members' | translate}}</h2>
                    <ion-note>
                        {{
                        'configureDraw.membersNote' | translate: {
                            avbl: group?.members?.length - disabledMembers?.length,
                            unvbl: disabledMembers?.length
                        }
                        }}
                    </ion-note>
                </ion-label>
            </ion-item-divider>
            <app-member
                    [name]="member.name"
                    *ngFor="let member of group.members"
                    [disabled]="isDisabled(member)">
                <ion-toggle [checked]="!isDisabled(member)"
                            (ionChange)="toggleDisable(member)"></ion-toggle>
            </app-member>
        </ion-list>
    </div>
</ion-content>

<ion-footer padding>
    <ion-item lines="none">
        <ion-label>
            <ion-note>
                {{
                'configureDraw.preview' | translate: {
                    teams: fakeDrawResultTeams,
                    mem: fakeDrawResultMembers?.join("-") || '0'
                }
                }}
            </ion-note>
        </ion-label>
    </ion-item>
    <ion-button [disabled]="group?.members?.length - disabledMembers?.length < 1"
                type="button"
                color="primary"
                expand="block"
                (click)="drawTeams()">
        {{'configureDraw.shuffle' | translate}}
    </ion-button>
</ion-footer>
