<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"> </ion-back-button>
    </ion-buttons>
    <ion-title>Neue Gruppe erstellen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="newGroupForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input
        type="text"
        formControlName="name"
        autofocus
        required
        placeholder="Beispiel: Deutsch, 6c"
      ></ion-input>
    </ion-item>

    <ion-button
      type="submit"
      color="primary"
      expand="block"
      class="create-button"
      [disabled]="!newGroupForm.valid"
    >
      <ion-icon name="checkmark" slot="start"></ion-icon>
      Gruppe erstellen
    </ion-button>
  </form>
</ion-content>
