<ion-header>
  <ion-toolbar>
    <ion-title>Neue Gruppe erstellen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
        <form [formGroup]="newGroupForm" (ngSubmit)="onSubmit()">
            <ion-item>
                <ion-label position="stacked">Gruppenname</ion-label>
                <ion-input type="text" formControlName="name" autofocus required placeholder='Beispiel: Deutsch, 6c'></ion-input>
            </ion-item>

            <ion-button
                    type="submit"
                    color="primary"
                    expand="block"
                    [disabled]="!newGroupForm.valid">Gruppe erstellen</ion-button>
        </form>
</ion-content>
