<!--<ion-chip>
    <ion-avatar>
        <ion-img [src]="member.avatar" *ngIf="member.avatar"></ion-img>
        <ion-img [src]="DEFAULT_AVATAR" *ngIf="!member.avatar"></ion-img>
    </ion-avatar>
    <ion-label>{{ member.name }}</ion-label>
    <ion-icon name="close-circle"></ion-icon>
</ion-chip>-->
<ion-item lines="none">
    <div *ngIf="hasStart">
        <ng-content select="[start]"></ng-content>
    </div>
    <ion-item class="member" lines="inset" [disabled]="disabled" style="width: 100%; padding-left: 0px;">
        <ion-avatar *ngIf="member.avatar" slot="start">
            <ion-img [src]="member.avatar"></ion-img>
        </ion-avatar>
        <ngx-avatar [name]="member.name" style="'circle'" *ngIf="!member.avatar" slot="start"></ngx-avatar>
        <ion-label>
            <h3>{{ member.name }}</h3>
        </ion-label>
    </ion-item>
    <div slot="end">
        <ng-content></ng-content>
    </div>
</ion-item>

