<ion-header>
  <ion-toolbar>
    <ion-title>Einstellungen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
            <ion-col>
                <h1>Danger Zone</h1>
            </ion-col>
        </ion-row>
          <ion-row>
              <ion-col>
                  <ion-button color="danger" (click)="deleteAllData()">
                      <ion-icon name="trash" slot="start"></ion-icon>
                      <ion-label>Alle Daten löschen</ion-label>
                  </ion-button>
              </ion-col>
          </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
