<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="groups/{{draw?.groupId ? draw?.groupId : 'all' }}"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-button (click)="initDeletion()">
                <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'drawDetails.header' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <app-draw-display [draw]="draw" [group]="group"></app-draw-display>
</ion-content>