<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="groups/{{draw?.groupId ? draw?.groupId : 'all' }}"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'generatedTeams.header' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <app-draw-display [draw]="draw" allowEdit="true"></app-draw-display>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" margin *ngIf="draw">
        <ion-fab-button color="secondary"
                        (click)="reshuffle()" margin>
            <ion-icon name="shuffle"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-button
                color="primary"
                expand="full"
                (click)="saveDraw()" [disabled]="!draw?.groupId">
            <ion-icon name="save" slot="start"></ion-icon>
            {{'editGroup.save' | translate}}
        </ion-button>
    </ion-toolbar>
</ion-footer>