<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="groups/{{draw?.groupId ? draw?.groupId : 'all' }}"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-button (click)="toggleReordering()">
                <ion-icon [name]="reorderingEnabled ? 'create' : 'list'"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'generatedTeams.header' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <app-draw-display [draw]="draw" [group]="group" allowEdit="true"
                      [allowReorder]="reorderingEnabled"></app-draw-display>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-button
                color="primary"
                expand="full"
                (click)="saveDraw()" [disabled]="!draw?.groupId">
            <ion-icon name="save" slot="start"></ion-icon>
            {{'editGroup.save' | translate}}
        </ion-button>
    </ion-toolbar>
</ion-footer>