<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Alle Gruppen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 <app-new-group-button></app-new-group-button>

  <ion-list>
    <ion-item *ngFor="let group of allGroups">
      <ion-icon name="contacts" slot="start"></ion-icon>
      <ion-label>
        {{group.name}}
      </ion-label>
      <ion-button
        shape="round"
        color="primary"
        size="small"
        fill="outline"
        routerLink="/groups/details/{{group.id}}"
      >
        Öffnen</ion-button
      >
    </ion-item>
  </ion-list>
</ion-content>
