<ion-grid>
    <ion-row>
        <ion-col>
            <ion-card-title *ngIf="text">
                <ion-icon
                        [name]="icon"
                        *ngIf="icon"
                        style="margin-right: 5px;"
                ></ion-icon>
                <ion-text>{{ text }}</ion-text>
            </ion-card-title>
        </ion-col>
        <ion-col>
            <ion-toolbar>
                <div float-end>
                    <ng-content></ng-content>
                </div>
            </ion-toolbar>
        </ion-col>
    </ion-row>
</ion-grid>
