<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="groups/all"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'generatedTeams.header' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <app-no-group [group]="draw"></app-no-group>
    <div *ngIf="draw">
        <ion-button class="actionButton" color="primary" disabled>
            <ion-icon name="save" slot="start"></ion-icon>
            {{'generatedTeams.saveDraw' | translate}}
        </ion-button>
        <ion-button
                class="actionButton"
                type="button"
                color="secondary"
                (click)="reshuffle()">
            <ion-icon name="shuffle" slot="start"></ion-icon>
            {{'generatedTeams.reshuffle' | translate}}
        </ion-button>

        <ion-grid>
            <ng-container *ngFor="let team of draw.teams; let i = index">
                <ion-row *ngIf="i % 2 ===0">
                    <ion-col>
                        <div class="animated fadeIn slower">
                            <app-team-card [team]="team"></app-team-card>
                        </div>
                    </ion-col>
                    <ion-col>
                        <ng-container *ngIf="i + 1 < draw.teams.length">
                            <div class="animated fadeIn slower">
                                <app-team-card [team]="draw.teams[i + 1]"
                                ></app-team-card>
                            </div>
                        </ng-container>

                    </ion-col>
                </ion-row>
            </ng-container>
        </ion-grid>
    </div>
</ion-content>
