<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="groups/all"></ion-back-button>
        </ion-buttons>
        <ion-title>Teams</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div *ngIf="!draw?.teams">
        <h2>
            <ion-text color="danger">Es wurde gerade kein Team erstellt! :(</ion-text>
        </h2>
        <ion-button routerLink="/groups/all">Zurück zur Übersicht</ion-button>
    </div>
    <div *ngIf="draw">
        <ion-button class="actionButton" color="primary" disabled>
            <ion-icon name="save" slot="start"></ion-icon>
            Ziehung speichern
        </ion-button>
        <ion-button
                class="actionButton"
                type="button"
                color="secondary"
                (click)="reshuffle()">
            <ion-icon name="shuffle" slot="start"></ion-icon>
            Erneut erstellen
        </ion-button>

        <ion-grid>
            <ng-container *ngFor="let team of draw.teams; let i = index">
                <ion-row *ngIf="i % 2 ===0">
                    <ion-col>
                        <app-team-card [team]="team"></app-team-card>
                    </ion-col>
                    <ion-col>
                        <ng-container *ngIf="i + 1 < draw.teams.length">
                            <app-team-card [team]="draw.teams[i + 1]"
                            ></app-team-card>
                        </ng-container>

                    </ion-col>
                </ion-row>
            </ng-container>
        </ion-grid>
    </div>
</ion-content>
