<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="groups/all"></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="groupId">
            {{'editGroup.headerEdit' | translate}}
        </ion-title>
        <ion-title *ngIf="!groupId">
            {{'editGroup.headerCreate' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding #content>
    <form [formGroup]="groupForm">
        <ion-list>
            <ion-list-header style="padding-left: 0;">
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <h1>
                                {{'editGroup.details' | translate}}
                            </h1>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-list-header>
            <ion-item>
                <ion-label position="stacked">{{'editGroup.name' | translate}}</ion-label>
                <ion-input
                        autocomplete="off"
                        type="text"
                        formControlName="name"
                        placeholder="{{'editGroup.groupNamePlaceholder' | translate}}"
                        maxlength="25"
                        autofocus
                        required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">{{'editGroup.icon' | translate}}</ion-label>
                <ion-icon slot="start"
                          *ngIf="groupForm.value"
                          [name]="groupForm.value.icon"></ion-icon>
                <ion-select formControlName="icon">
                    <ion-select-option
                            *ngFor="let option of iconOptions"
                            [value]="option">
                        <ion-icon [name]="option">{{option}}</ion-icon>
                    </ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item-divider sticky margin-top margin-bottom style="padding-left: 0;">
                <ion-grid>
                    <ion-row>
                        <ion-col sizeSm>
                            <h1>
                                {{'editGroup.members' | translate}} ({{members.controls?.length}})
                            </h1>
                        </ion-col>
                        <ion-col size="9">
                            <ion-item lines="none">
                                <ion-label position="stacked">{{'editGroup.addMember' | translate}}</ion-label>
                                <ion-input
                                    #memberInput
                                    name="newMember"
                                    placeholder="{{'editGroup.addMemberPlaceholder' | translate}}"
                                    (keyup.enter)="addMember()"
                                    [(ngModel)]="newMemberName"
                                    [ngModelOptions]="{ standalone: true }"
                                    autocomplete="off"></ion-input>
                                <ion-button
                                        type="button"
                                        (click)="addMember()"
                                        slot="end"
                                        [disabled]="!addMemberValid()">
                                    <ion-icon name="add" slot="icon-only"></ion-icon>
                                </ion-button>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item-divider>
            <app-missing-data-text
                    [data]="members.controls"
                    text="{{'editGroup.noMembers' | translate}}">
            </app-missing-data-text>
            <ion-reorder-group [disabled]="!members.controls?.length" (ionItemReorder)="reorder($event)">
                <div *ngFor="let member of members.controls; let i = index;">
                    <app-member [name]="member.value">
                        <ion-reorder start></ion-reorder>
                        <ion-button color="danger" expand (click)="removeMember(member.value)">
                            <ion-icon name="trash"></ion-icon>
                        </ion-button>
                    </app-member>
                </div>


            </ion-reorder-group>
        </ion-list>
    </form>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-button
                expand="full"
                color="primary"
                [disabled]="!groupForm.valid"
                (click)="groupForm.valid && onSubmit()">
            <ion-icon name="save" slot="start"></ion-icon>
            {{'editGroup.save' | translate}}
        </ion-button>
    </ion-toolbar>
</ion-footer>
