<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gruppendetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!group">
    <h2>
      <ion-text color="danger"
        >Die ausgewählte Gruppe existiert nicht! :(</ion-text
      >
    </h2>
    <ion-button routerLink="/groups/all">Zurück zur Übersicht</ion-button>
  </div>
  <div *ngIf="group">
    <ion-button disabled routerLink="/groups/createTeam">
      <ion-icon name="add"></ion-icon>
      Neues Team
    </ion-button>
    <ion-button color="tertiary" routerLink="/groups/edit/{{ group.id }}">
      <ion-icon name="create"></ion-icon>
        Editieren
    </ion-button>
    <ion-button color="danger" (click)="initDeletion();">
      <ion-icon name="trash"></ion-icon>
    </ion-button>
    <ion-card>
      <ion-card-content>
        <div class="group-name">
          {{ group.name }}
        </div>

        <div>
          <div class="section-header">
            Mitglieder
          </div>
            <app-missing-data-text [data]="group.members" text="Keine Mitglieder vorhanden"></app-missing-data-text>
          <ion-list>
            <ion-item *ngFor="let member of group.members">
              {{ member.name }}
            </ion-item>
          </ion-list>
        </div>
        <div>
          <div class="section-header">
            Teams
          </div>
          <app-missing-data-text [data]="group.teams" text="Keine Teams vorhanden"></app-missing-data-text>
          <ion-list>
            <ion-item *ngFor="let team of group.teams">
              {{ team.date }}
            </ion-item>
          </ion-list>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
