<script src="../../../../../test/tabs/src/app/tab1/tab1.module.ts"></script>
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Willkommen
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <img src="/assets/teamwheel_alpha.svg" alt="TeamWheel Image" class="welcome-img"/>
    <ng-container *ngIf="!recentGroups || !recentGroups.length">
        <ion-card>
            <ion-card-header>
                <ion-card-title>Willkommen bei TeamWheel
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-item lines="none">
                    <ion-text slot="start">Erstelle jetzt deine erste Gruppe:</ion-text>
                </ion-item>
                <ion-item lines="none">
                    <ion-button routerLink="/groups/new">
                        <ion-icon name="add" slot="start"></ion-icon>
                        Erste Gruppe erstellen
                    </ion-button>
                </ion-item>
            </ion-card-content>
        </ion-card>
    </ng-container>
    <ng-container *ngIf="recentGroups && recentGroups.length">
        <ion-card>
            <ion-card-content>
                <ion-toolbar>
                    <ion-buttons slot="primary">
                        <ion-button color="primary" routerLink="/groups/all">
                            Zur Gruppenübersicht
                        </ion-button>
                    </ion-buttons>
                </ion-toolbar>
                <ion-list *ngIf="recentGroups">
                    <ion-list-header>
                        Letzte Gruppen
                    </ion-list-header>
                    <app-group-row-item
                            *ngFor="let group of recentGroups"
                            [group]="group"
                    ></app-group-row-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </ng-container>

</ion-content>
