<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Gruppenübersicht</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-content>
            <ion-toolbar>
                <ion-buttons slot="primary">
                    <ion-button routerLink="/groups/new" fill="solid" color="primary">
                        <ion-icon name="add" slot="start"></ion-icon>
                        Gruppe erstellen
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
            <app-missing-data-text [data]="allGroups" text="Keine Gruppen vorhanden"></app-missing-data-text>
            <ion-list>
                <ion-list-header>
                    Alle Gruppen
                </ion-list-header>
                <app-group-row-item
                        *ngFor="let group of allGroups"
                        [group]="group"
                ></app-group-row-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
