<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="groups/all"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-button color="tertiary" routerLink="/groups/edit/{{ group?.id }}">
                <ion-icon name="create" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button color="danger" (click)="initDeletion()">
                <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Gruppendetails</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div *ngIf="!group">
        <h2>
            <ion-text color="danger">
                Die ausgewählte Gruppe existiert nicht! :(
            </ion-text>
        </h2>
        <ion-button routerLink="/groups/all">Zurück zur Übersicht</ion-button>
    </div>
    <div *ngIf="group">
        <h1>
            <ion-text>
                <ion-icon [name]="group.icon"></ion-icon>
                {{group.name}}
            </ion-text>
        </h1>
        <div>
            <div class="section-header">
                Mitglieder ({{group.members.length}})
            </div>
            <app-members [members]="group.members"></app-members>
        </div>

    </div>
</ion-content>

<ion-footer padding>
    <ion-toolbar>
        <ion-button expand="full"
                    routerLink="/teams/new"
                    [queryParams]="{ forGroup: group?.id }"
                    [disabled]="group?.members?.length < 1">
            <ion-icon name="shuffle" slot="start"></ion-icon>
            Teams generieren
        </ion-button>
    </ion-toolbar>
</ion-footer>