<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="groups/all"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-button color="tertiary" routerLink="/groups/edit/{{ group?.id }}">
                <ion-icon name="create" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button color="danger" (click)="initDeletion()">
                <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{'groupDetails.header' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <app-no-group [group]="group"></app-no-group>
    <ng-container *ngIf="group">
        <h1>
            <ion-text>
                <ion-icon [name]="group.icon"></ion-icon>
                {{group.name}}
            </ion-text>
        </h1>

        <ion-list>
            <ion-list-header>
                {{'groupDetails.members' | translate}} ({{group.members.length}})
            </ion-list-header>
            <app-missing-data-text
                    [data]="group.members"
                    text="{{'groupDetails.noMembers' | translate}}">
            </app-missing-data-text>
            <app-member [name]="member.name" *ngFor="let member of group.members"></app-member>
        </ion-list>
    </ng-container>
</ion-content>

<ion-footer padding *ngIf="group">
    <ion-button expand="block"
                routerLink="/teams/new"
                [queryParams]="{ forGroup: group.id }"
                [disabled]="group.members?.length < 1">
        <ion-icon name="shuffle" slot="start"></ion-icon>
        {{'groupDetails.generateTeams' | translate}}
    </ion-button>
</ion-footer>