<ion-content>
    <ion-radio-group [value]="selectedTeam" (ionChange)="selectedTeamChanged($event)">
        <ion-list-header>
            {{'generatedTeams.moveTo' | translate}}
        </ion-list-header>
        <ion-item *ngFor="let team of otherTeams">
            <ion-label>{{team.name}}</ion-label>
            <ion-radio [value]="team.name"></ion-radio>
        </ion-item>
    </ion-radio-group>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="primary">
            <ion-button (click)="close()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
            <ion-button (click)="moveToTeam()">
                <ion-icon name="checkmark"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>





