<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/teamwheel.png"></ion-img>
      <ion-card-header>
          <ion-card-title>Willkommen bei TeamWheel</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Mit TeamWheel kannst du ... TODO</p>
      </ion-card-content>
    </ion-card>
    <ion-card class="recent-groups">
        <ion-card-header>
            <ion-card-title>Kürzliche Gruppen</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ul class="recent">
                <li *ngFor="let group of recentGroups">
                    <span class="badge">{{group.id}}</span> {{group.name}}
                </li>
            </ul>
            <ion-button color="primary">Neue Gruppe erstellen</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>
