<script src="../../../../test/tabs/src/app/tab1/tab1.module.ts"></script>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="/assets/teamwheel.svg" alt="TeamWheel Image" class="welcome-img">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Zuletzt genutzte Gruppen</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="!recentGroups || !recentGroups.length">
        <ion-text>
          <h2>
            Keine Gruppen vorhanden. Es ist Zeit deine erste Gruppe zu erstellen
            <ion-icon name="happy"></ion-icon>
          </h2>
        </ion-text>
        <app-new-group-button></app-new-group-button>
      </div>
      <ion-list *ngIf="recentGroups">
       <app-group-row-item *ngFor="let group of recentGroups" [group]="group"></app-group-row-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
