<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{'groupOverview.header' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <app-fixed-width-grid>
        <ion-list>
            <ion-list-header>
                <ion-label>
                    <h1>
                        {{'groupOverview.allGroups' | translate}}
                    </h1>
                </ion-label>
            </ion-list-header>
            <app-group-row-item
                    *ngFor="let group of allGroups"
                    [group]="group"></app-group-row-item>
            <app-missing-data-text [data]="allGroups"
                                   text="{{'groupOverview.noGroups' | translate}}"></app-missing-data-text>
        </ion-list>
    </app-fixed-width-grid>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" margin>
        <ion-fab-button
                routerLink="/groups/new">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
